
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--neutral-color2);
}
body .container{
  background: var(--neutral-color2);
  position: relative;
  top: 0;
  left: 0;
  width: 80rem;
  height: 49rem;
}
header{
  margin: 50px 70px 0 70px;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img{
  width: 9.3rem;
}
.close-icon img{
  width: 1.5rem;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
main .verf-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 22.88rem;
  height: 21.13rem;
  left: calc(50% - 366px/2);
  top: calc(50% - 326px/2);
}
main img {
  width: 9.3rem;
}
main .first-parag{
  font-weight: 500;
  font-size: 1.13rem;
  line-height: 1.69rem;
  text-align: center;
  color: var(--neutral-color1);
  flex: none;
  order: 1;
  flex-grow: 0;
  }
main .second-parag {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.38rem;
  text-align: center;
  color: var(--gray1);
  flex: none;
  order: 2;
  flex-grow: 0;
}
main .third-parag {
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1.31rem;
  text-align: center;
  color: var(--gray1);
  flex: none;
  order: 4;
  flex-grow: 0;
}
main p span{
  color: var(--primary-color);
}
main button{
  background-color: var(--primary-color);
  color: var(--neutral-color2);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  width: 22.94rem;
  height: 2.625rem;
  border: none;
  border-radius: 0.5rem;
  flex: none;
  order: 3;
  flex-grow: 0;
}
footer p{
  position: absolute;
  left: calc(50% - 219px/2);
  top: 45.1rem;
  color: var(--gray1);
}
footer p span{
  color: var(--primary-color);
}
  
@media (max-width: 768px) {
  header,
  footer {
    display: none;
  }

  main .verf-container {
    width: 18.75rem;
    height: 20.19rem;
    left: calc(50% - 300px/2);
    top: calc(50% - 318px/2 - 0.5px);
  }
  .verf-container img {
    width: 9rem;
  }
  main p{
    width: 18.75rem;
  }
  main .first-parag {
    font-size: 1rem;
    line-height: 1.38rem;
    height: 2.75rem;
  }
  main .first-parag span {
    color: var(--neutral-color1);
  }
  main .second-parag {
    font-size: 0.88rem;
    line-height: 1.25rem;
    height: 2.5rem;
  }
  main .third-parag {
    font-size: 0.63rem;
    line-height: 1rem;
    height: 2.56rem;
  }
  main button{
    font-size: .875rem;
  }
  main button{
    width: 18.75rem;
    height: 2.625rem;
  }
}